.mobileView {
  padding: 0px 100px 40px 0px;
  max-width: 1150px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  transition: all 1s ease;
  width: fit-content;
}

.footer:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer > div > svg {
  position: relative;
  margin-left: 1rem;
  top: 2px;
  animation: forward 0.5s infinite alternate;
}

@keyframes forward {
  from {
    margin-left: 1rem;
  }
  to {
    margin-left: 2rem;
  }
}

.project {
  color: #fff;
}

.project:hover {
  color: #007bff;
  text-decoration: underline;
}

.contact {
  color: #fff;
  text-decoration: none;
}

.contact:hover {
  color: #007bff;
  text-decoration: underline;
}

@media only screen and (max-width: 500px) {
  .mobileView {
    padding: 0px 40px 100px 40px !important;
    margin-top: 0px !important;
  }
  .mobileViewForm {
    width: 100% !important;
  }
}
