.grid::before {
  content: "";
  height: 100vh;
  width: 100vw;
  color: rgba(113, 113, 113, 0.07);
  position: fixed;
  z-index: -1;
  background: linear-gradient(currentcolor 1px, transparent 1px) 0% 0% / 94px
      90px,
    linear-gradient(to right, currentcolor 1px, transparent 1px) transparent;
  transition: all 0.5s linear 0s;
  top: 0;
  left: 0;
}

.grid::after {
  content: "";
  height: 100vh;
  width: 100vw;
  color: rgba(113, 113, 113, 0.07);
  position: fixed;
  z-index: -1;
  background: linear-gradient(to right, currentcolor 1px, transparent 1px) 0% 0%/94px
      90px,
    linear-gradient(currentcolor 1px, transparent 1px) transparent;
  transition: all 0.5s linear 0s;
  top: 0;
  left: 0;
}
