@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";

// mixins
@import "./colors";
@import "./text";

//Neurial font

@font-face {
  font-family: "Neurial-Regular";
  src: url("/fonts/NeurialGrotesk-Regular.otf");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Neurial-Medium";
  src: url("/fonts/NeurialGrotesk-Medium.otf");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Neurial-Bold";
  src: url("/fonts/NeurialGrotesk-Bold.otf");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Neurial-Extrabold";
  src: url("/fonts/NeurialGrotesk-Extrabold.otf");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  // cursor: none;
}

body::before {
  content: "";
  background: #020a13;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}

body::after {
  content: "";
  background-image: radial-gradient(
      at 40% 40%,
      rgb(30, 144, 255) 0px,
      transparent 50%
    ),
    radial-gradient(at 90% 10%, rgb(255, 105, 180) 0px, transparent 50%),
    radial-gradient(at 50% 95%, rgb(0, 255, 255) 0px, transparent 50%),
    radial-gradient(at 20% 30%, rgb(50, 205, 50) 0px, transparent 50%),
    radial-gradient(at 90% 90%, rgb(255, 255, 0) 0px, transparent 50%),
    radial-gradient(at 33% 50%, rgb(255, 69, 0) 0px, transparent 50%),
    radial-gradient(at 79% 53%, rgb(128, 0, 128) 0px, transparent 50%);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  filter: blur(100px) saturate(100%);
  opacity: 0.1;
}

.intro__text {
  font-size: 2.275em;
  font-weight: 500;
  margin: 2rem 0rem 1.5rem;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 9.9px;

  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::before {
    left: 2px;
    text-shadow: -1px 0 #00ffff;
    animation: noise-anim-2 15s infinite linear alternate-reverse;
  }

  &::after {
    left: -2px;
    text-shadow: 3px 0 #ff69b4;
    animation: noise-anim 2s infinite linear alternate-reverse;
  }

  @keyframes noise-anim {
    0% {
      clip-path: inset(29% 0 25% 0);
    }
    5% {
      clip-path: inset(9% 0 38% 0);
    }
    10% {
      clip-path: inset(96% 0 1% 0);
    }
    15% {
      clip-path: inset(75% 0 23% 0);
    }
    20% {
      clip-path: inset(46% 0 50% 0);
    }
    25% {
      clip-path: inset(3% 0 46% 0);
    }
    30% {
      clip-path: inset(82% 0 2% 0);
    }
    35% {
      clip-path: inset(88% 0 1% 0);
    }
    40% {
      clip-path: inset(91% 0 8% 0);
    }
    45% {
      clip-path: inset(96% 0 2% 0);
    }
    50% {
      clip-path: inset(59% 0 38% 0);
    }
    55% {
      clip-path: inset(41% 0 53% 0);
    }
    60% {
      clip-path: inset(21% 0 47% 0);
    }
    65% {
      clip-path: inset(89% 0 4% 0);
    }
    70% {
      clip-path: inset(1% 0 95% 0);
    }
    75% {
      clip-path: inset(86% 0 4% 0);
    }
    80% {
      clip-path: inset(95% 0 5% 0);
    }
    85% {
      clip-path: inset(54% 0 36% 0);
    }
    90% {
      clip-path: inset(70% 0 27% 0);
    }
    95% {
      clip-path: inset(6% 0 16% 0);
    }
    100% {
      clip-path: inset(95% 0 2% 0);
    }
  }
  @keyframes noise-anim-2 {
    0% {
      clip-path: inset(76% 0 21% 0);
    }
    5% {
      clip-path: inset(54% 0 7% 0);
    }
    10% {
      clip-path: inset(55% 0 29% 0);
    }
    15% {
      clip-path: inset(89% 0 3% 0);
    }
    20% {
      clip-path: inset(33% 0 40% 0);
    }
    25% {
      clip-path: inset(17% 0 56% 0);
    }
    30% {
      clip-path: inset(37% 0 51% 0);
    }
    35% {
      clip-path: inset(38% 0 19% 0);
    }
    40% {
      clip-path: inset(93% 0 4% 0);
    }
    45% {
      clip-path: inset(44% 0 14% 0);
    }
    50% {
      clip-path: inset(53% 0 26% 0);
    }
    55% {
      clip-path: inset(67% 0 11% 0);
    }
    60% {
      clip-path: inset(85% 0 13% 0);
    }
    65% {
      clip-path: inset(27% 0 37% 0);
    }
    70% {
      clip-path: inset(87% 0 4% 0);
    }
    75% {
      clip-path: inset(10% 0 8% 0);
    }
    80% {
      clip-path: inset(51% 0 27% 0);
    }
    85% {
      clip-path: inset(10% 0 60% 0);
    }
    90% {
      clip-path: inset(83% 0 3% 0);
    }
    95% {
      clip-path: inset(23% 0 55% 0);
    }
    100% {
      clip-path: inset(1% 0 81% 0);
    }
  }
}

.mark {
  color: inherit;
  padding: 0;
  background: none;
  /* background-image: linear-gradient(120deg, var(--mark) 0%, var(--mark) 100%); */
  background-repeat: no-repeat;
  background-size: 0% 0.3em;
  background-position: 0 80%;
  position: relative;
  background-size: 100% 0.3em;
}
