.container {
  padding: 40px 0px;
  transition: all 0.5s ease 0s;
}

.container nav {
  background: transparent !important;
}

.logo::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -8px;
  border: 2px solid #c6c6c6;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.underline {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #c6c6c6;
  position: absolute;
  transition: all 0.3s ease-in;
}

.link:hover .underline {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #c6c6c6;
  position: absolute;
}

.selectedPage {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #c6c6c6;
  position: absolute;
}
